{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Membre
{% endblock %}

{% block body %}
	<div
		class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="page-title-box">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<h4 class="page-title">Mise a jour des membres</h4>
							<ol
								class="breadcrumb"><!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->

							</ol>
						</div>
						<div class="col-sm-6">
							<div class="form-row">
								<div class="col">
									<a class="btn btn-warning" href="{{ path('membre_index') }}">Retour</a>
								</div>
								<div class="col">
									{{ include('admin/membre/_delete_form.html.twig') }}
								</div>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end page-title -->

				{{ include('admin/membre/_form.html.twig', {'button_label': 'Mise a jour'}) }}
				<!-- end row -->
			</div>
			<!-- container-fluid -->
		</div>
		<!-- content -->
		{{ include('includes/_footer_admin.html.twig')}}
	</div>
{% endblock %}
