{% extends "base.html.twig" %}
{% block title %}Organigramme | AJEUTCHIM
{% endblock %}
{% block body %}
	<!--  main -->
	<section id="experience">
		<div class="container">
			<div class="white-divider"></div>
			<div class="heading">
				<h2>Organigramme d'AJEUTCHIM</h2>
			</div>
			<ul class="timeline">
				<li>
					<div class="timeline-badge">
						<i class="fas fa-briefcase"></i>
					</div>
					<div class="timeline-panel-container">
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3>GOOGLE</h3>
								<h4>Développeur Web Sénior</h4>
								<p class="text-muted">
									<i class="far fa-clock"></i>
								</p>
							</small>
							2013-2015
						</p>
					</div>
					<div class="timeline-body">
						<p>
							Ajout de la possibilité d'écouter une traduction dans Google
																																																																																				                    Translate
						</p>
						<p>Développement de Google Suggest en mode Offline</p>
						<p>Nouveau design du player de Youtube adapté au mobile</p>
					</div>
				</li>
				<li>
					<div class="timeline-badge">
						<i class="fas fa-briefcase"></i>
					</div>
					<div class="timeline-panel-container-inverted">
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3>FACEBOOK</h3>
								<h4>Développeur Web</h4>
								<p class="text-muted">
									<i class="far fa-clock"></i>
								</p>
							</small>
							2010-2013
						</p>
					</div>
					<div class="timeline-body">
						<p>
							Développement du bouton Share pour les applis Web mobile
						</p>
						<p>
							Lancement automatique des vidéos en mode Mute depuis la
																																																																																	                    Timeline
						</p>
					</div>
				</li>
				<li>
					<div class="timeline-badge">
						<i class="fas fa-briefcase"></i>
					</div>
					<div class="timeline-panel-container">
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3>TWITTER</h3>
								<h4>Développeur Web Junior</h4>
								<p class="text-muted">
									<i class="far fa-clock"></i>
									2007-2010
								</p>
							</div>
							<div class="timeline-body">
								<p>Création et Développement du Retweet pour l'appli Web</p>
								<p>Intégration des vidéos sur les applis web mobile</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-badge">
						<i class="fas fa-briefcase"></i>
					</div>
					<div class="timeline-panel-container-inverted">
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3>FACEBOOK</h3>
								<h4>Développeur Web</h4>
								<p class="text-muted">
									<i class="far fa-clock"></i>
								</p>
							</small>
							2010-2013
						</p>
					</div>
					<div class="timeline-body">
						<p>
							Développement du bouton Share pour les applis Web mobile
						</p>
						<p>
							Lancement automatique des vidéos en mode Mute depuis la
																																																													                    Timeline
						</p>
					</div>
				</li>
				<li>
					<div class="timeline-badge">
						<i class="fas fa-briefcase"></i>
					</div>
					<div class="timeline-panel-container">
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3>TWITTER</h3>
								<h4>Développeur Web Junior</h4>
								<p class="text-muted">
									<i class="far fa-clock"></i>
									2007-2010</p>
							</div>
							<div class="timeline-body">
								<p>Création et Développement du Retweet pour l'appli Web</p>
								<p>Intégration des vidéos sur les applis web mobile</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section><!-- End main -->{% endblock %}
