{% extends "base.html.twig" %}
{% block title %}Acceuil | AJEUTCHIM
{% endblock %}
{% block body %}
	{% include 'home/messageAlert.html.twig' %}
	{% include 'home/carousel.html.twig' %}
	{% include 'home/panel.html.twig' %}
	<div class="collapse mt-5" id="vote">
		<div class="container">
			{% include 'form/_voteForm.html.twig' %}
		</div>
	</div>
	<div class="collapse mt-5" id="adhession">
		<div class="container">
			{% include 'demande_adhesion/_form.html.twig' %}
		</div>
	</div>
	<div class="container ">
		<div class="row mt-5 box-shadow-0">
			{% include 'home/motPresident.html.twig' %}
			{% include 'home/info.html.twig' %}
		</div>
	</div>
	{% include 'home/resultat.html.twig' %}
	{% include 'home/president.html.twig' %}
	{% include 'home/article.html.twig' %}
	{% include 'home/galery.html.twig' %}
	{% include 'home/video.html.twig' %}
	<div class="jumbotron py-5 mb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-lg-8 col-xl-9 my-auto">
					<h4>L'équipe de l'AJEUTCHIM est disponible pour recevoir vos message</h4>
				</div>
				<div class="col-md-5 col-lg-4 col-xl-3">
					<a type="button" class="button1" data-toggle="modal" data-target="#exampleModalCenter">Nous contacter
					</a>
					{{include('form/_contactForm.html.twig')}}
				</div>
			</div>
		</div>
	</div>
	<!-- End Jumbotron -->

	<!-- Emoji Navbar First -->
	<a class="navbar bg-primary sticky-top emoji" href="#emoji" role="button" data-toggle="collapse"></a>
	<!-- Start Fixed Background IMG -->
	<div class="fixed-background">
		<div class="row text-light py-5">
			<div class="col-12 text-center">
				<h1>Veux tu sourie ?</h1>
				<h3 class="py-4">Cliquez sur ces boutons</h3>
				<a type="button" data-toggle="modal" data-target="#modal1" class="button1">
					Voir mon contenue
				</a>
				<a type="button" data-toggle="modal" data-target="#modal2" class="button2">
					Voir mon contenue
				</a>
			</div>
		</div>
		<div class="fixed-wrap">
			<div class="fixed" style="background-image: url({{asset('img/matrix.jpg')}});position: fixed;"></div>
		</div>
	</div>
	<!-- End Fixed Background IMG -->

	<!-- Emoji Navbar Second -->
	<div class="charger">
		<a class="navbar bg-primary sticky-top emoji" href="#emoji" role="button" data-toggle="collapse">
			<i class="fas fa-plug"></i>
		</a>
	</div>
	<div class="collapse" id="emoji">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<img src="img/emoji/panda.gif" alt="" class="w-100"/>
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="img/emoji/chicken.gif" alt="" class="w-100"/>
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="img/emoji/poo.gif" alt="" class="w-100"/>
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="img/emoji/unicorn.gif" alt="" class="w-100"/>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Popup -->
	<div class="modal fade" id="modal1">
		<div class="modal-dialog">
			<img src="img/emoji/poo.gif" alt="" class="w-100"/>
		</div>
	</div>
	<div class="modal fade" id="modal2">
		<div class="modal-dialog">
			<img src="img/emoji/chicken.gif" alt="" class="w-100"/>
		</div>
	</div>
{% endblock %}
