{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit PostAjeutchim{% endblock %}

{% block body %}
    <div
		class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="page-title-box">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<h4 class="page-title">Mise a jour Produits</h4>
							<ol
								class="breadcrumb">
								<!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
								<li class="breadcrumb-item active">Mise a jour Produits</li>
							</ol>
						</div>
						<div class="col-sm-6">
							<a class="btn btn-warning" href="{{ path('post_ajeutchim_index') }}">Voir la liste</a>
							{{ include('admin/post_ajeutchim/_delete_form.html.twig') }}
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end page-title -->


    {{ include('admin/post_ajeutchim/_form.html.twig', {'button_label': 'Update'}) }} 
<!-- end row -->
			</div>
			<!-- container-fluid -->
		</div>
		<!-- content -->
		{{ include('includes/_footer_admin.html.twig')}}
	</div>
{% endblock %}
