<form method="post" action="{{ path('evenement_realiser_delete', {'id': evenement_realiser.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement_realiser.id) }}">
    <button class="btn">Delete</button>
</form>
