{% extends 'base.html.twig' %}

{% block title %}New Cotisation
{% endblock %}

{% block body %}
	<h1>Create new Cotisation</h1>
	
	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{{ include('cotisation/_form.html.twig') }}

	<a href="{{ path('cotisation_index') }}">back to list</a>
{% endblock %}
