{% extends "base.html.twig" %}
{% block title %}
	{{article.title}}
	| AJEUTCHIM
{% endblock %}
{% block body %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-4">
				<iframe src="https://www.youtube.com/embed/{{video.lien}}" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-8">
				<h1>{{ video.title }}</h1>

			</div>
		</div>
		<div class="row"></div>
	</div>

{% endblock %}
