{% extends 'base.html.twig' %}

{% block title %}Edit Decaisement{% endblock %}

{% block body %}
    <h1>Edit Decaisement</h1>

    {{ include('decaisement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('decaisement_index') }}">back to list</a>

    {{ include('decaisement/_delete_form.html.twig') }}
{% endblock %}
