{% extends 'baseAdmin.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}
	<h1>Create new Article</h1>
	<div
		class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="page-title-box">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<h4 class="page-title">Nouvelle Produits</h4>
							<ol
								class="breadcrumb">
								<!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
								<li class="breadcrumb-item active">Nouvelle Produits</li>
							</ol>
						</div>
						<div class="col-sm-6">
							<a class="btn btn-warning" href="{{ path('article_index') }}">Voir la liste</a>

						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end page-title -->

				{{ include('admin/article/_form.html.twig') }}
				<!-- end row -->
			</div>
			<!-- container-fluid -->
		</div>
		<!-- content -->
		{{ include('includes/_footer_admin.html.twig')}}
	</div>
{% endblock %}
