{% extends 'base.html.twig' %}

{% block title %}New MontantAnnuelle{% endblock %}

{% block body %}
    <h1>Create new MontantAnnuelle</h1>

    {{ include('montant_annuelle/_form.html.twig') }}

    <a href="{{ path('montant_annuelle_index') }}">back to list</a>
{% endblock %}
