{% extends 'base.html.twig' %}

{% block title %}Edit RejectProject{% endblock %}

{% block body %}
    <h1>Edit RejectProject</h1>

    {{ include('reject_project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reject_project_index') }}">back to list</a>

    {{ include('reject_project/_delete_form.html.twig') }}
{% endblock %}
